<div class="container-fluid bg-secondary text-center fs-xs">
    <div class="row">
        <div class="col-md-4">
            <a class="link-light" href="<%= process.env.URL_PATH %>/documentation" title="Documentation">Documentation</a>
        </div>
        <div class="col-md-4">
            <span class="text-light">® Copyright <span class="current-year">current year</span> Shivadharma Database</span>
        </div>
        <div class="col-md-4">
            <a class="link-light" href="<%= process.env.URL_PATH %>/credits" title="Credits">Credits</a>
        </div>
    </div>
</div>