<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shivadharma Database</title>
    <link rel="icon" type="image/png" href="/assets/img/logo-brand-shivadhama.png">
    <link href="/assets/style/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
</head>