<h3 class="h6">Live check</h3>
<p>
  <span id="live-stanza"></span><span id="live-pada"></span>
  <span id="live-lemma"></span>
  <span id="lemma-bracket" class="d-none"> &#x5d; </span>
  <span id="live-manuscriptLemma"></span>
  <span id="live-clone-variant" class="ms-3">
    <span id="live-variant" class="ms-3"></span>
    <span id="live-manuscriptVariant"></span>
  </span>
  <span id="add-live-clone-variant"></span>
<p>