<div class="annotation-form apparatus bg-white border col-md-12 d-none p-2">
  <h3 class="h6">Live check</h3>
  <div class="live-check-container">

    <!-- lemma -->
    <span data-type="apparatus" data-subtype="stanza" id="live-stanzaStart"></span><span id="live-padaStart"></span><span id="stanza-dash" class="d-none">&#x2013;</span><span data-type="apparatus" data-subtype="stanza" id="live-stanzaEnd"></span><span id="live-padaEnd"></span>
    <span class="fst-italic" data-type="apparatus" data-subtype="lemma" id="live-lemma"></span>
    <span id="lemma-bracket" class="d-none"> &#x5d; </span>
    <span id="live-manuscriptLemma" data-type="apparatus" data-subtype="witnesses"></span>
    <span class="live-lemmaNotes" id="live-lemmaNotes"></span>

    <!-- variants -->
    <span id="live-clone-variant0" class="ms-3">
      <span class="fst-italic" data-type="apparatus" data-subtype="variant" id="live-variant0" class="ms-3"></span>
      <span data-type="apparatus" data-subtype="witnesses" id="live-manuscriptVariant0"></span>
      <span class="live-omission-note" data-type="apparatus" data-subtype="additional-notes" id="live-variant0-OmissionEditor"></span>
    </span>

    <!-- container for cloned variants -->
    <span id="add-live-clone-variant"></span>

  </div>
</div>