<!DOCTYPE html>
<html>
<%- include ("partials/head") %>

<body>
  <%- include ("partials/navbar") %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-dark p-0 account-sidebar">
        <ul class="nav flex-column p-0" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#doc-home" role="tab" title="Overview">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#doc-shivadharma-project" role="tab" title="Śivadharma Project">Śivadharma Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#doc-project-objectives" role="tab" title="Śivadharma Database">Śivadharma Database</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#doc-data-modelling" role="tab" title="Data modelling">Data modelling</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#doc-encoding" role="tab" title="Encoding">Encoding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#doc-dev" role="tab" title="Web application development">Web application development</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#doc-web-app" role="tab" title="Web application functionalities">Web application functionalities</a>
          </li>
        </ul>
      </div>
      <div class="col-md-10 p-5 tab-content">
        <!-- overview -->
        <div class="tab-pane fade show active" id="doc-home">
          <h2>Documentation</h2>
          <h3>Overview</h3>
          <p>Documentation is coming soon!</p>
        </div>
        <!-- shivadharma project -->
        <div class="tab-pane fade" id="doc-shivadharma-project">
          <h2>Documentation</h2>
          <h3>Śivadharma Project</h3>
          <p>Documentation is coming soon!</p>
        </div>
        <!-- project objectives -->
        <div class="tab-pane fade" id="doc-project-objectives">
          <h2>Documentation</h2>
          <h3>Śivadharma Database</h3>
          <p>Documentation is coming soon!</p>
        </div>
        <!-- data modelling -->
        <div class="tab-pane fade" id="doc-data-modelling">
          <h2>Documentation</h2>
          <h3>Data modelling</h3>
          <p>Documentation is coming soon!</p>
        </div>
        <!-- encoding -->
        <div class="tab-pane fade" id="doc-encoding">
          <h2>Documentation</h2>
          <h3>Encoding</h3>
          <p>Documentation is coming soon!</p>
        </div>
        <!-- web application development -->
        <div class="tab-pane fade" id="doc-dev">
          <h2>Documentation</h2>
          <h3>Web application development</h3>
          <p>Documentation is coming soon!</p>
        </div>
        <!-- web application functionalities -->
        <div class="tab-pane fade" id="doc-web-app">
          <h2>Documentation</h2>
          <h3>Web application functionalities</h3>
          <p>Documentation is coming soon!</p>
        </div>
      </div>
    </div>
  </div>

  <%- include ("partials/footer") %>
  <%- include ("partials/script") %>

</body>

</html>