<!DOCTYPE html>
<html lang="en" >

<%- include ("partials/head") %>

<body class="height-100 bg-login">
<div class="pt-4">

  <!-- error messages -->
  <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert">
      <%= locals.messages.error %>
    </div>
  <% }; %>

  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="card card-body card-radius">
          <img class="logo-m mx-auto d-block my-4" src="/assets/img/logo-brand-shivadhama.png" alt="Logo Sivadharma">
          <h1 class="text-center">Login</h1>
          <form class="login-form" action="<%= process.env.URL_PATH %>/login" method="POST">
            <!-- email -->
            <div class="form-group px-5 py-2">
                <label for="email">Email</label>
                <input type="email" class="form-control text-lowercase" name="email" required>
            </div>
            <!-- password -->
            <div class="form-group px-5 py-2">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <!-- login btn-->
            <div class="d-grid gap-2 px-5 py-2 my-4">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
          </form>
          <!-- login -->
          <p class="small-xl pt-3 text-center f-xs">
            <span class="text-muted fs-xs">Don't have an account yet?</span>
            <a href="<%= process.env.URL_PATH %>/register" class="fs-xs" title="Register">Register</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>