<h1>Register</h1>
<form action="/register" method="POST">
    <div>
        <label for="name">Full name</label>
        <input type="text" name="name" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" required>
    </div>
    <button type="submit">Register</button>
</form>
<span>Already have an account?</span>
<a href="/login" title="Login">Log in</a>