@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* html */
html {
    scroll-behavior: $enable-smooth-scroll;
    -webkit-font-smoothing: antialiased;
}

/* body */
body {
    padding-top: 56px;
}

/* margin */
.mt-20 {
    margin-top: 34px;
}

/* layout */
.edition-container,
.edition-container .row {
    height: 75vh;
}

/* tabs */
.scroll-tab {
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll-tab::-webkit-scrollbar {
    width: 10px;
}

.scroll-tab::-webkit-scrollbar-track {
    background: $light;
}

.scroll-tab::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: 10px;
}

/* autocomplete */
[role="listbox"] {
    border: 1px solid $light;
    list-style: none;
    padding: $spacer;
}

/* live check */
.live-check-container {
    height: 5vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.live-check-container::-webkit-scrollbar {
    width: 6px;
}

.live-check-container::-webkit-scrollbar-track {
    background: $light;
}

.live-check-container::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: 10px;
}