@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* html */
html {
    scroll-behavior: $enable-smooth-scroll;
    -webkit-font-smoothing: antialiased;
}

/* body */
body {
    padding-top: 56px;
}

/* layout */
.edition-container, .edition-container .row {
    height: 77vh;
}

.scroll-tab {
    height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
}