<div class="mb-3">
  <label class="form-label">Selected string</label>
  <input id="selected-string" type="text" class="form-control" aria-describedby="Selected string" name="selectedString">
</div>
<div class="mb-3">
  <label class="form-label">Lemma</label>
  <input type="text" class="form-control" placeholder="Insert lemma" aria-describedby="Insert lemma" name="lemma">
</div>
<div class="mb-3">
  <label class="form-label">Variant</label>
  <input type="text" class="form-control" placeholder="Insert variant" aria-describedby="Insert variant" name="variant">
  <label class="form-label">Manuscript</label>
  <input type="text" class="form-control" placeholder="Insert manuscript" aria-describedby="Insert variant" name="manuscript">
</div>
<div class="mb-3">
  <button type="button" class="btn btn-primary">Add</button>
</div>
<div>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>