<h2 class="mt-3 h5">Create an apparatus entry</h2>
<form class="form-annotations" id="apparatus-req" method="post" action="/addApparatus/<%= id %>">
  <!-- selected fragment -->
  <div class="mb-3">
    <label class="form-label">Selected fragment</label>
    <input class="form-control" id="selected-fragment" type="text" aria-describedby="Selected fragment" readonly="true" name="selectedFragment">
  </div>
  <!-- stanza / pada -->
  <div class="bg-white p-3 mb-3">
    <label class="form-label">Stanza</label>
    <input type="number" min="1" class="form-control live-check mb-3" placeholder="Insert stanza" aria-describedby="Insert stanza" name="stanza">
    <label class="form-label">PÄda</label>
    <div class="form-check form-check-inline">
      <input class="form-check-input live-check" type="checkbox" value="a" name="pada">
      <label class="form-check-label">a</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input live-check" type="checkbox" value="b" name="pada">
      <label class="form-check-label">b</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input live-check" type="checkbox" value="c" name="pada">
      <label class="form-check-label">c</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input live-check" type="checkbox" value="d" name="pada">
      <label class="form-check-label">d</label>
    </div>
  </div>
  <!-- lemma -->
  <div class="bg-white p-3 mb-3">
    <label class="form-label">Lemma</label>
    <input class="form-control live-check mb-3" type="text" placeholder="Insert lemma" aria-describedby="Insert lemma" name="lemma">
    <label class="form-label">Witness&#x28;es&#x29;</label>
    <!-- witnesses -->
    <% if (sigla) { %>
      <% var wits = []; %>
      <% sigla.forEach((siglum) => { %>
        <% if (wits.includes(siglum) === false) { %>
          <% wits.push(siglum) %>
        <% }; %>
      <% }); %>
      <input class="form-control live-check" id="witsLemma" data-list="<%= JSON.stringify(wits) %>" data-type="witness" type="search" dir="ltr" spellcheck="false" autocorrect="off" autocomplete="off" autocapitalize="off" maxlength="2048" tabindex="1" name="manuscriptLemma">
    <% }; %>
  </div>
  <!-- variants -->
  <div class="alert alert-primary alert-dismissible fade show bg-white p-3 mb-3" data-cloned="variant">
    <label class="form-label">Variant</label>
    <input type="text" class="form-control live-check mb-3" placeholder="Insert variant" aria-describedby="Insert variant" name="variant">
    <label class="form-label">Witness&#x28;es&#x29;</label>
    <!-- witnesses -->
    <% if (sigla) { %>
      <% var wits = []; %>
      <% sigla.forEach((siglum) => { %>
        <% if (wits.includes(siglum) === false) { %>
          <% wits.push(siglum) %>
        <% }; %>
      <% }); %>
      <input class="form-control live-check" id="witsVariant" data-list="<%= JSON.stringify(wits) %>" data-type="witness" type="search" dir="ltr" spellcheck="false" autocorrect="off" autocomplete="off" autocapitalize="off" maxlength="2048" tabindex="1" name="manuscriptVariant">
    <% }; %>
  </div>
  <div id="variant">
  </div>
  <!-- add variant -->
  <div class="mb-3">
    <button type="button" class="btn btn-primary" data-clone="variant">&#x2b;</button>
  </div>
  <!-- submit -->
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>