<ul class="nav nav-tabs" role="tablist">
  <!-- annotate -->
  <li class="nav-item" role="presentation">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#annotate-parallel" type="button" role="tab" aria-controls="annotate" aria-selected="true">Annotate</button>
  </li>
  <!-- check -->
  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#check-parallel" type="button" role="tab" aria-controls="check" aria-selected="false">Check all</button>
  </li>
  <!-- cancel -->
  <!--<button type="button" class="btn btn-sm btn-pink" data-bs-toggle="modal" data-bs-target="#cancel-paral" data-type="cancel-annotation">
    <i class="bi bi-eraser-fill"></i> Cancel
  </button>
  <div class="modal fade" id="cancel-paral" data-role="cancel-annotation" tabindex="-1" aria-labelledby="cancel-annotation" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure to cancel this annotation?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Please type <b>martinadellobuono</b> to confirm.</p>
          <input type="text" class="form-control" data-role="safe-deletion">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-role="safe-deletion-btn" disabled>Save changes</button>
        </div>
      </div>
    </div>
  </div>-->
</ul>
<div class="tab-content">
  <!-- ANNOTATE -->
  <div class="tab-pane fade show active scroll-tab" id="annotate-parallel" role="tabpanel" aria-labelledby="annotate-tab">
    <form class="form-annotations parallel-container" id="parallel-req" method="post" action="/addParallel/<%= id %>">
      <!-- ID -->
      <div class="d-none">
        <label class="form-label">ID of annotation</label>
        <input class="form-control cursor-not-allowed root-id-input" type="text" aria-describedby="ID of annotation" readonly="true" data-value="parallel" name="idAnnotation">
      </div>
      <!-- selected fragment -->
      <div class="mb-3 mt-3">
        <label class="form-label">Selected fragment</label>
        <input class="form-control cursor-not-allowed" type="text" aria-describedby="Selected fragment" readonly="true" data-value="parallel" name="selectedFragment">
      </div>
      <div class="bg-white p-3 mb-3">
        <!-- chapter -->
        <div class="mb-3">
          <label class="form-label">Chapter</label>
          <input class="form-control" type="number" aria-describedby="Chapter" placeholder="Insert the number of chapter" name="chapter" required>
        </div>
        <!-- stanza / pada -->
        <label class="form-label">Stanza</label>
        <div class="mb-3">
          <div class="form-text">If you refer to only one stanza, fill the starting stanza and p훮da&#x28;s&#x29; form, then the ending stanza and p훮da&#x28;s&#x29; with the values of the starting ones.</div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Starting stanza</span>
          <input type="number" min="1" class="form-control live-check" placeholder="Insert stanza" aria-describedby="Insert stanza" name="stanzaStart" required>
        </div>
        <div class="mb-3">
          <label class="form-label">P훮da</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="a" name="padaStart">
            <label class="form-check-label">a</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="b" name="padaStart">
            <label class="form-check-label">b</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="c" name="padaStart">
            <label class="form-check-label">c</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="d" name="padaStart">
            <label class="form-check-label">d</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="e" name="padaStart">
            <label class="form-check-label">e</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="f" name="padaStart">
            <label class="form-check-label">f</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Ending stanza</span>
          <input type="number" min="1" class="form-control live-check" placeholder="Insert stanza" aria-describedby="Insert stanza" name="stanzaEnd">
        </div>
        <div class="mb-3">
          <label class="form-label">P훮da</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="a" name="padaEnd">
            <label class="form-check-label">a</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="b" name="padaEnd">
            <label class="form-check-label">b</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="c" name="padaEnd">
            <label class="form-check-label">c</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="d" name="padaEnd">
            <label class="form-check-label">d</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="e" name="padaEnd">
            <label class="form-check-label">e</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="f" name="padaEnd">
            <label class="form-check-label">f</label>
          </div>
        </div>
      </div>
      <!-- work -->
      <div class="mb-3">
        <label class="form-label">Work of the parallel</label>
        <input class="form-control" type="text" aria-describedby="parallel-work" placeholder="Insert the work" name="parallelWork">
      </div>
      <!-- author -->
      <div class="mb-3">
        <label class="form-label">Author of the parallel</label>
        <input class="form-control" type="text" aria-describedby="parallel-author" placeholder="Insert the author" name="parallelAuthor">
      </div>
      <!-- book -->
      <div class="mb-3">
        <label class="form-label">Book of the parallel</label>
        <input class="form-control" type="number" aria-describedby="parallel-book" placeholder="Insert the number of the book" name="parallelBook">
      </div>
      <!-- chapter -->
      <div class="mb-3">
        <label class="form-label">Chapter of the parallel</label>
        <input class="form-control" type="number" aria-describedby="parallel-chapter" placeholder="Insert the number of the chapter" name="parallelChapter">
      </div>
      <!-- stanza -->
      <div class="mb-3">
        <label class="form-label">Stanza of the parallel</label>
        <input class="form-control" type="number" aria-describedby="parallel-stanza" placeholder="Insert the number of the stanza" name="parallelStanza">
      </div>
      <!-- parallel -->
      <div class="mb-3">
        <label class="form-label">Parallel</label>
        <div class="mb-3">
          <div class="form-text">Please, do not insert the number of chapter and number of stanza at the beginning of the parallel. They will be added automatically.</div>
        </div>
        <textarea placeholder="Insert the parallel..." name="parallel"></textarea>
      </div>
      <!-- parallel note -->
      <div class="mb-3">
        <label class="form-label">Note on the parallel</label>
        <textarea placeholder="Insert the note..." name="parallelNote"></textarea>
      </div>
      <!-- submit -->
      <div>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
  <!-- CHECK -->
  <div class="tab-pane fade" id="check-parallel" role="tabpanel" aria-labelledby="check-tab">
    <h2 class="mt-3 h5" id="check-annotation"></h2>
    <!-- results parallel -->
    <div class="scroll-tab" id="parallel-res">
      <%- include ("partials/forms-res/parallel") %>
    </div>
  </div>
</div>