<ul class="nav nav-tabs fs-xs" role="tablist">
  <!-- annotate -->
  <li class="nav-item" role="presentation">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#annotate-translation" type="button" role="tab" aria-controls="annotate" aria-selected="true">Annotate</button>
  </li>
  <!-- check -->
  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#check-translation" type="button" role="tab" aria-controls="check" aria-selected="false">Check all</button>
  </li>
</ul>
<div class="tab-content fs-xs">
  <!-- ANNOTATE -->
  <div class="tab-pane fade show active scroll-tab" id="annotate-translation" role="tabpanel" aria-labelledby="annotate-tab">
    <form class="form-annotations translation-container" id="translation-req" method="post" action="<%= process.env.URL_PATH %>/addTranslation/<%= id %>">
      <!-- ID -->
      <div class="d-none">
        <label class="form-label">ID of annotation</label>
        <input class="form-control cursor-not-allowed root-id-input" type="text" aria-describedby="ID of annotation" readonly="true" data-value="translation" name="idAnnotation">
      </div>
      <!-- selected fragment -->
      <div class="mb-3 mt-3">
        <label class="form-label">Selected fragment</label>
        <input class="form-control cursor-not-allowed" type="text" aria-describedby="Selected fragment" readonly="true" data-value="translation" name="selectedFragment">
      </div>
      <!-- location -->
      <div class="location bg-white p-3 mb-3">
        <!-- chapter -->
        <div class="mb-3">
          <label class="form-label">Chapter</label>
          <input class="form-control" type="number" aria-describedby="Chapter" placeholder="Insert the number of chapter" name="chapter" required>
        </div>
        <!-- stanza / pada -->
        <label class="form-label">Stanza</label>
        <div class="mb-3">
          <div class="form-text">If you refer to only one stanza, fill the starting stanza and p훮da&#x28;s&#x29; form, then the ending stanza and p훮da&#x28;s&#x29; with the values of the starting ones.</div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Starting stanza</span>
          <input type="number" min="1" class="form-control live-check" placeholder="Insert stanza" aria-describedby="Insert stanza" name="stanzaStart" required>
        </div>
        <div class="mb-3">
          <label class="form-label">P훮da</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="a" name="padaStart">
            <label class="form-check-label">a</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="b" name="padaStart">
            <label class="form-check-label">b</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="c" name="padaStart">
            <label class="form-check-label">c</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="d" name="padaStart">
            <label class="form-check-label">d</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="e" name="padaStart">
            <label class="form-check-label">e</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="f" name="padaStart">
            <label class="form-check-label">f</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Ending stanza</span>
          <input type="number" min="1" class="form-control live-check" placeholder="Insert stanza" aria-describedby="Insert stanza" name="stanzaEnd" required>
        </div>
        <div class="mb-3">
          <label class="form-label">P훮da</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="a" name="padaEnd">
            <label class="form-check-label">a</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="b" name="padaEnd">
            <label class="form-check-label">b</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="c" name="padaEnd">
            <label class="form-check-label">c</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="d" name="padaEnd">
            <label class="form-check-label">d</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="e" name="padaEnd">
            <label class="form-check-label">e</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input live-check" type="checkbox" value="f" name="padaEnd">
            <label class="form-check-label">f</label>
          </div>
        </div>
      </div>
      <!-- translation -->
      <div class="mb-3">
        <label class="form-label">Translation</label>
        <div class="mb-3">
          <div class="form-text">Please, do not insert the number of chapter and number of stanza at the beginning of the translation. They will be added automatically.</div>
        </div>
        <textarea placeholder="Insert the translation..." name="translation"></textarea>
      </div>
      <!-- note on the translation -->
      <div class="mb-3">
        <label class="form-label">Note on the translation</label>
        <textarea placeholder="Insert the note on the translation..." name="noteTranslation"></textarea>
      </div>
      <!-- submit -->
      <div>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
  <!-- CHECK -->
  <div class="tab-pane fade" id="check-translation" role="tabpanel" aria-labelledby="check-tab">
    <h2 class="mt-3 h5" id="check-annotation"></h2>
    <!-- results translation -->
    <div class="scroll-tab" id="translation-res">
      <%- include ("partials/forms-res/translation") %>
    </div>
  </div>
</div>