<div class="p-3 mt-3 bg-white container-translation" data-type="translation" data-subtype="translation-entry">

    <!-- location -->
  <span data-type="translation" data-subtype="location">
    <span data-type="translation" data-subtype="stanza-start" data-name="stanzaStart" data-fill='' data-input="number"></span><span data-type="translation" data-subtype="pada-start" data-name="padaStart" data-fill='' data-input="checkbox"></span>
    <span data-type="translation" data-subtype="stanza-end" data-name="stanzaEnd" data-fill='' data-input="number"></span><span data-type="translation" data-subtype="pada-end" data-name="padaEnd" data-fill='' data-input="checkbox"></span>
  </span>

</div>